<script>
    class SWTCalculator extends HTMLElement {
        connectedCallback() {
            const calculateButton = this.querySelector('#calculate-swt');

            const strikeWaterVolForm = (this.querySelector('#volume') as HTMLInputElement);
            const totalGrainWgtForm = (this.querySelector('#grain-weight') as HTMLInputElement);
            const grainTempForm = (this.querySelector('#grain-temp') as HTMLInputElement);
            const targetMashTempForm = (this.querySelector('#mash-temp') as HTMLInputElement);
            const thermalLossTempForm = (this.querySelector('#loss-temp') as HTMLInputElement);

            const result = (this.querySelector("#result") as HTMLElement);

            calculateButton?.addEventListener('click', () => {
                const strikeWaterVol = parseFloat(strikeWaterVolForm.value);
                const totalGrainWgt = parseFloat(totalGrainWgtForm.value);
                const grainTemp = parseFloat(grainTempForm.value);
                const targetMashTemp = parseFloat(targetMashTempForm.value);
                const thermalLossTemp = parseFloat(thermalLossTempForm.value);

                if (isNaN(strikeWaterVol) || isNaN(totalGrainWgt) || isNaN(grainTemp) || isNaN(targetMashTemp) || isNaN(thermalLossTemp)) {
                    result.textContent = "Numbers required in input fields";
                } else {
                    const grainHeat = totalGrainWgt * 0.05;
                    const mashHeat = grainHeat + strikeWaterVol;
                    const strikeWaterTemp = ((mashHeat * (targetMashTemp + thermalLossTemp))-(grainHeat * grainTemp))/strikeWaterVol;

                    const swtResult = strikeWaterTemp.toFixed(2).toString().concat('째F');
                    result.textContent = 'SWT: '.concat(swtResult);
                }
            })
        }
    }

    customElements.define('swt-calculator', SWTCalculator);
</script>

<swt-calculator id="swtc-wrapper">
    <h1>SWT Calculator</h1>
    <form>
        <fieldset>
            <label for="volume">Strike Water Volume (Gallons)</label>
            <input type="text" id="volume"/>
        </fieldset>
        <fieldset>
            <label for="grain-weight">Total Grain Weight (Pounds)</label>
            <input type="text" id="grain-weight"/>
        </fieldset>
        <fieldset>
            <label for="grain-temp">Grain Temperature (째F)</label>
            <input type="text" id="grain-temp"/>
        </fieldset>
        <fieldset>
            <label for="mash-temp">Target Mash Temperature (째F)</label>
            <input type="text" id="mash-temp"/>
        </fieldset>
        <fieldset>
            <label for="loss-temp">Thermal Loss Temperature (째F)</label>
            <input type="text" id="loss-temp"/>
        </fieldset>
        <button type="button" id="calculate-swt">Calculate</button>
    </form>
    <p id="result"></p>
</swt-calculator>

<style>
    #swtc-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    fieldset, form {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: none;
    }
    h1, label, p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        color: var(--header-text-color);
    }
    h1 {
        font-size: 2rem;
    }
    input {
        border: none;
        border-radius: 2px;
        font-size: 2rem;
        height: 3rem;
        width: 50%;
    }
    label {
        width: fit-content;
    }
    p {
        color: var(--result-text-color);
    }
    button {
        font-size: 2rem;
        border-radius: 8px;
        color: var(--header-text-color);
        background-color: var(--calculate-button-color);
        margin-top: 8px;
    }
</style>